.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 100px;
}
.left-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
@media screen  and (max-width:980px) {
    .left-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

.right-container{
    background-color:lightcoral ;
    
    
}
.left-side{
   padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left-side img{
  width: 50px;
  border-radius: 15px;
} 
.my-details{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: azure;
    padding: 15px;
    border-radius: 20px;
}
.Add-Break{
    margin-left: 20px;
}
.radius{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkgray;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.btn-radius{
    font-size: 20px;
   border: none;
   padding: 15px; 
    border-radius: 20px;
}
.btn-radius:hover{
    background-color: coral;
 }
.details-text{
    margin-left: 20px;
}
.input-style{
    margin: 20px;
    background-color: gray;
    padding: 10px;
    border-radius: 15px;
}
.input-styles{
    margin: 20px;
    background-color: gray;
    padding: 10px;
    border-radius: 15px;
}
.last-btn{
     width:100%;
      margin-top: 60px;
      font-size: 20px;
      font-weight: bold;
      border: none;
      border-radius: 10px;
   
}
.last-btn:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: 1s ease-in-out
}