.Text{
    margin-left: 100px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.logo img{
   width: 50px;
   border-radius: 10px;   
}

.text-style{
    margin-right: 400px;
}