.header{
    height: 80px;
    background-color:crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.name{
    color: white;
    font-size: 20px;
}
.name:hover{
    color: black;
    transition:1s ease-in-out;
}
.header a{
    text-decoration: none;
    margin: 36px;
    color: white;
    font-size: 20px;
    
}

.header a:hover{
   border-bottom: 1px solid black;
    font-size: 16px;
    border-radius: 7px;
    color: black;
    transition: 1s ease-in-out;   
}

 